.pk-pokemon-list {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
}
.pk-pokemon-list--navigation,
.pk-pokemon-list--content {
  margin: 1.5rem;
  padding: 0;
}
.pk-pokemon-list--navigation {
  order: 1;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.pk-pokemon-list--content {
  flex-grow: 1;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
}


.pk-nav-button {
  height: 0;
  width: 0;
  padding: 0;

  font-size: 40px;

  background: none;
  border-top: none;
  border-right: 0.6em solid transparent;
  border-bottom: 1em solid #b71c1c;
  border-left: 0.6em solid transparent;

  cursor: pointer;

  overflow: hidden;
}
.pk-nav-button:disabled {
  border-bottom: 1em solid #BDBDBD;
  cursor: default;
}
.pk-nav-button_previous {
  transform: rotate(-90deg);
}
.pk-nav-button_next {
  transform: rotate(090deg);
}
