@import '~normalize.css/normalize.css';
@import '~typeface-fira-sans/index.css';


/* Global */
html,
*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
#root,
#pokedex-app {
  height: 100%;

  font-family: 'Fira Sans', sans-serif;
  color: #212121;
}
#pokedex-app a {
  color: #5d4037;
  text-decoration: none;
}


/* App structure */
@import './styles/app-structure.css';


/* Blocks, elements and modifiers (BEM) */
@import './styles/header.css';
@import './styles/search-input.css';
@import './styles/pokemon-list.css';
@import './styles/pokemon-slot.css';
@import './styles/footer.css';
